DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_NAME=demo

JWT_SECRET=d21767d1e663fd69d12c69753f830865524729524a5fd528b43cbcfc4c657efa
JWT_EXPIRES_IN=1d

FRONTEND_URL=http://localhost:3000

ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=admin123